{% extends "base.html" %}

{% block content%}
        <div class="text-base uppercase font-medium text-blue-500">Публикация</div>

        <div class="mt-4">
            <h1 class="text-2xl font-bold">Lorem ipsum, dolor sit amet</h1>

            <div class="mt-1">
                Автор: <span class="font-semibold">Пользователь</span> 24.06.2026 19:20
            </div>

            <p class="text-base text-zinc-500 mt-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident ex corrupti modi, numquam ut ea illo officia ipsa recusandae dolorum perferendis expedita velit blanditiis maiores, eveniet libero inventore accusamus nam!</p>
        </div>

        <div class="mt-4">
            <h2 class="text-lg font-semibold">Комментарии</h2>

            <div class="text-sm bg-white rounded-lg py-2 px-4 my-2">
                <a href="" class="text-blue-500 hover:underline">Войдите</a>, чтобы оставить комментарий
            </div>

            <div>
                <p class="text-sm text-zinc-800">
                    <span class="font-semibold text-black">Пользователь</span>
                    24.06.2026 19:20
                </p>
                <p class="text-xs mt-0.5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus, incidunt! Officiis reiciendis, voluptatum totam optio excepturi, ad dolor magnam, ut cum incidunt non odio reprehenderit nam pariatur. Officiis, cum quas!</p>
            </div>
        </div>
{% endblock %}